## Data types

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [5]:
num = 12
name = 'Sam'

In [6]:
floatNum = 23.45678

In [7]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [8]:
print('My number is: {}, and my name is: {}'.format(num,name))
print("My 10 character, four decimal number is:{0:10.4f}".format(floatNum))

My number is: 12, and my name is: Sam
My 10 character, four decimal number is:   23.4568

### f'Strings

In [9]:
name = 'Fred'
print(f"He said his name is {name}.")

He said his name is Fred.

In [10]:
print("My 10 character, four decimal number is:{0:10.4f}".format(floatNum))
print(f"My 10 character, four decimal number is:{floatNum:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

### Lists

In [12]:
my_list = ['a','b','c']

In [13]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [14]:
my_list[:1]

['a']

In [15]:
my_list[0] = 'NEW'

In [16]:
my_list

['NEW', 'b', 'c', 'd']

In [17]:
nest = [1,2,3,[4,5,['target']]]

In [18]:
nest[3]

[4, 5, ['target']]

In [19]:
nest[3][2]

['target']

In [20]:
nest[3][2][0]

'target'

### Dictionaries

In [22]:
d = {'key1':'item1','key2':'item2'}

In [23]:
d

{'key1': 'item1', 'key2': 'item2'}

In [24]:
d['key1']

'item1'

In [25]:
for k in d.keys():
    print(k)

key1
key2

In [28]:
for v in d.values():
    print(v)

item1
item2

In [29]:
for item in d.items():
    print(item)

('key1', 'item1')
('key2', 'item2')

In [30]:
for key, value in d.items():
   print(key, value)

key1 item1
key2 item2

### Tuples

In [31]:
t = (1,2,3)

In [32]:
t[0]

1

### Sets

In [38]:
s = {1,2,3}
s

{1, 2, 3}

In [40]:
s = set()
s.add(100)
s

{100}

## if,elif, else Statements

In [41]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [42]:
seq = [1,2,3]

In [43]:
for item in seq:
    print(item)

1
2
3

In [44]:
for item in seq:
    print('Yep')

Yep
Yep
Yep

In [45]:
for jelly in seq:
    print(jelly+jelly)

2
4
6

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True